@model OnlineServices.Models.AdminProveModel

@{
    ViewBag.Title = "VendorDetails";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>VendorDetails</h2>

<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            @*<a href="edit.html">Edit Profile</a>

            <a href="edit.html">Logout</a>*@
            <br>
            <p class=" text-info">@DateTime.Now.Date.ToShortDateString(),@DateTime.Now.TimeOfDay</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.LastName, @Model.Firstname</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/Images/@Model.Image" class="img-circle img-responsive"> </div>

                        <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
          <dl>
            <dt>DEPARTMENT:</dt>
            <dd>Administrator</dd>
            <dt>HIRE DATE</dt>
            <dd>11/12/2013</dd>
            <dt>DATE OF BIRTH</dt>
               <dd>11/12/2013</dd>
            <dt>GENDER</dt>
            <dd>Male</dd>
          </dl>
        </div>-->
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Surname:</td>
                                        <td>@Model.LastName</td>
                                    </tr>
                                    <tr>
                                        <td>First Name:</td>
                                        <td>@Model.Firstname</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td>@Model.OfficialPhoneNumber</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Personal Address</td>
                                        <td>@Model.HomeAddress</td>
                                    </tr>
                                    <tr>
                                        <td>Contact Email</td>
                                        <td>@Model.EmailAddress</td>
                                    </tr>

                                    <tr>
                                        <td>Certification</td>
                                        <td>@Model.Skills</td>
                                    </tr>
                                    <tr>
                                        <td>Terms and Conditions agreement</td>
                                        <td>@Model.MissionStatement</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>@Model.EmailAddress</td>
                                    </tr>
                                    @*<tr>
                            <td>Email</td>
                            <td>@Model.OfficialPhoneNumber</a></td>
                        </tr>*@
                                    @*<td>Phone Number</td>
                        <td>
                            123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>

                        </tr>

                        </tbody>*@
                            </table>
                            @Html.ActionLink("Approve", "ApproveUser", new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("", "", new { @class = "btn btn-primary",@Id="disapprove" })*@
                            <a href="#" class="btn btn-primary" id="disapprove">Disapprove</a>

                        </div>
                        <div>
                            @using (Html.BeginForm("DisApproveUser", "Admin", FormMethod.Post, new { @class = "form-group", @Id = "form" }))
                            {
                            <div class="form-group col-lg-offset-1">
                                @Html.LabelFor(x => x.Reason, new { @class = "" })
                                @Html.TextAreaFor(model => model.Reason, new { @Id = "", @class = "form-control input-sm", placeholder = "Please State Reason" })

                            </div>
                            <button type="submit" class="btn btn-primary col-lg-offset-1" id="submit">Submit</button>
                            }
                        </div>
                    </div>
                </div>
               
                @*<div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                </div>*@

            </div>
        </div>
    </div>
</div>

 <script>
    $(function () {
         var panels = $('.user-infos');
         var panelsButton = $('.dropdown-user');
         panels.hide();
         $("form").hide();
         //Click dropdown
         panelsButton.click(function () {
             //get data-for attribute
             var dataFor = $(this).attr('data-for');
             var idFor = $(dataFor);

             //current button
             var currentButton = $(this);
             idFor.slideToggle(400, function () {
                 //Completed slidetoggle
                 if (idFor.is(':visible')) {
                     currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                 }
                 else {
                     currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                 }
             })
         });


         $('[data-toggle="tooltip"]').tooltip();

         $('button').click(function (e) {
             $("#form").show();
         });
    });

    $("#disapprove").click(function(e)
    {
        e.preventDefault();
        $("#form").show();
       
    })

    function Approve(userId)
    {
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.RouteUrl("ApproveUser",Model.UserId))",
            data: { userId: selectedItem },
        success: function (data) {
            ddlStates.html('');
            $.each(data, function (id, option) {
                //ddlStates.append($('<option></option>').val(option.id).html(option.name));
            });
            statesProgress.hide();
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states.');
            statesProgress.hide();
        }
    });
    }
</script>